<%- include('./layout/header.ejs') %> 
<main class="container">
    <h2>login</h2>
    <br>
    <div class="login-google">
        <a href="/auth/google">Login with Google</a>
    </div>
</main>
<%- include('./layout/footer.ejs') %> 