<%- include('./layout/header.ejs') %> 
<main class="container">
    <h2>Profile</h2>
    <br>
    <h3>Welcome Mr. <%= username %></h3>
    <br>
    <h4>Summary</h4>
    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa accusamus rem ipsum aperiam exercitationem officia, placeat suscipit impedit aliquam unde. Unde sit, eligendi obcaecati quod, id iste fugiat, optio saepe voluptatem modi suscipit ullam laudantium ad laborum doloremque illo praesentium enim vel culpa pariatur illum eaque! Repellat eius hic pariatur natus beatae a saepe ut quibusdam ducimus omnis consectetur numquam rerum, ea provident laboriosam facere non eveniet accusamus ab vitae! Neque sit hic maxime velit commodi quos facere est aperiam autem reprehenderit, nobis accusantium voluptatibus tempora voluptatem aliquam nostrum voluptas assumenda quae perspiciatis consequatur molestiae totam odit dolorem? Facere illo suscipit omnis provident veniam corrupti adipisci, sed eveniet itaque necessitatibus dicta, enim minima voluptatibus consectetur. Nobis voluptatem ut, odit aut voluptatibus omnis illum at saepe earum expedita quo. Quibusdam eius repudiandae dolor quasi rem fuga, illum ipsa tempore? Odit, incidunt aliquam ut, sit necessitatibus molestiae, corporis rem illo tenetur veniam quibusdam aperiam voluptatibus quam dolorum architecto tempora porro voluptates!</p>
    </article>
</main>
<%- include('./layout/footer.ejs') %> 