<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication session based</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/" class="nav-link">Home</a>
        <a href="/login" class="nav-link">Login</a>
        <a href="/profile" class="nav-link">Profile</a>
        <a href="/logout" class="nav-link">Logout</a>
    </nav>
</body>
</html>